body{
	background: #74ebd5;  
	background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5); 
	background: linear-gradient(to right, #ACB6E5, #74ebd5); 
}

h2{
	color: #0a97b0;
	text-align: center;
}

h1{
	font-weight: bold;
}

table th{
	text-align: center;
}
